.video-wrapper {
  @extend .border-0;
  @extend .d-flex;
  @extend .card;
  border-radius: 15px;

  video {
    object-fit: cover;
    border-radius: inherit;
  }

  canvas {
    position: absolute;
    border-radius: 15px;
    top: 0;
  }
}

.video-info-wrapper {
  height: 100%;

  .card {
    height: 100%
  }
}

.video-graph-wrapper {
  height: 100%;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-between;

  .card-body {
    padding: 12px;
  }

  @media only screen and (max-width: 768px) {
    div {
      margin-bottom: 15px;
    }

    div:last-child{
      margin-bottom: 0;
    }
  }
}
